@media (max-width: 1400px) {
    .nav{
        display: none;
    }
    .contact{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .header_right{
        display: none;
    }
    footer{
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 80px;
        position: fixed;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        border-top: 1px solid #d9d9d9;
        padding: 8px 100px;
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
    }
    .nav_item{
        padding-left: 0px;
    }
    .logo{
        display: none;
    }
    .logo_contact{
        display: flex;
        align-items: center;
    }
    form {
        width: 80%;
        margin:auto;
        border: #000000 1px solid;
        padding: 2px;
        border-radius: 5px;
        }
    .header_left{
            width: 100%;
    }
    .sean{
        width: 100%;
    }
    .info-block {
        top: 57%;
        height: 80%;
    }
    .burger-checkbox>a{
        display: none;
    }
    .navbar{
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
    }
    header{
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
    }
    .slider{
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
        height: 50%;
    }
    .dots{
        bottom: 5%;
    }
    .info-block {
        top: 52%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        width: calc(100% - 13%);
        height: 74%;

    }
    .categories_grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
      }
    .favourites_grid{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(280px, auto));
        align-items: center;
        text-align: center;
        cursor: pointer;
        margin: 10px 0px;
    }
    .favourites_grid{
    padding-right: calc(100% - 98%);
    padding-left: calc(100% - 98%);
    }   
    .basket_grid{
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
    }
    .new_product{
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
    }
    .discond{
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
    }
    .Pre_orders{
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
    }
    .Sale{
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
    }
    .slider{
        padding: 0px 20px;
        height: 25%;
    }
}
@media (min-width: 1400px){
    footer{
        
    }
    .logo_contact{
        display: none;
    }
}
@media (min-width: 1px) and (max-width: 600px) {
    .slider{
        padding: 0px 20px;
        height: 15%;
    }
    .conteiner_zero{
        height: 80px;
    }
    .navbar{
        padding: 8px 20px;
    }
    header{
        padding: 8px 20px;
    }
    .footer {
        padding: 10px 20px;
    }
    .slide{
        height: 100%;
    }
    .dots{
        bottom: 8%;
    }
    .categories{
        width: 50%;
    }
    .card{
        height: 220px;
        width: 135px;
    }
    .card img{
        height: 150px;
    }
    .price{
        text-align: start;
        margin: 4px;
    }
    .price>a>h1{
        font-size: 10px;
    }
    .price>p{
        font-size: 12px;
    }
    .like img{
        width: 25px;
        height: 25px;
    }
    .bascet>a{
        font-size: 10px;
    }
    .price>a>h1{
        font-size: 15px;
    }
    .new_product{
        padding: 0px 20px;
        margin: 5px 0px;
    }
    .discond{
        padding: 0px 20px;
        margin: 5px 0px;
    }
    .Pre_orders{
        padding: 0px 20px;
        margin: 5px 0px;
    }
    .Sale{
        padding: 0px 20px;
        margin: 5px 0px;
    }
    .product_grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    }
    .categories_grid{
        padding: 20px 20px;
      }
    .favourites_grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
        gap: 0px 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        margin: 10px 0px;
        padding: 0px 0px;
    }
    .basket_grid{
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
    }
    .button>a{
        font-size: 20px;
    }
    .name>a>h1{
        font-size: 25px;
    }
    .name>p{
        
    }
    .img {
        height: 120px;
        width: 180px;
        padding-right: 10px;
    }
    .img_basket_product {
        height: 150px;
        width: 200px;
        padding-right: 10px;
    }
    .new_product{
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
    }
    .discond{
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
    }
    .Pre_orders{
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
    }
    .Sale{
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
    }
    .favourites_grid{
        padding-right: calc(100% - 95%);
        padding-left: calc(100% - 95%);
    }   

    .conteiner_product {
        display: flex;
        flex-direction: column;
    }
    .sorting {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    

}

/* .container {
    margin: 0 auto;
    max-width: 1368px;
    position: relative;
    width: calc(100% - 48px);
} */